langchain
unstructured
openai
Cython
tiktoken
langchain-astradb
langchain_community
pdf2image
pdfminer.six
unstructured[pdf]
pypdf
langchain-openai
datasets
numpy 
pandas
pymongo
langchain_community
pypdf
faiss-cpu
cryptography>=3.1
